<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">WELCOME TO SWORD CRAFT ONLINE</span>
        <span id="welcomeDescription">This is a Sword Art Online inspired Modpack. It adds a lot of items and features from the anime to the game. It comes with an exclusive and official server preinstalled. The server offers a huge world to explore, many quests, and countless NPCs. We are working on the server all the time to keep it fresh and offer you the best experience possible.</span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from Sword Craft Online.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>
